.commentInput {
  display: flex;
  width: 100%;
  margin-top: 0;
  margin-bottom: 20px;
}

.commentInput > .MuiTextField-root {
  align-self: flex-end;
}

.commentInput > .MuiIconButton-root {
  color: white;
  background-color: teal;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.5s;
}

.commentInput > .MuiIconButton-root:hover {
  filter: brightness(80%);
  transform: translateX(-5px);
  background-color: teal;
}

.commentInput__darkTF label,
.commentInput__darkTF input {
  color: white;
}

.commentInput .css-1480iag-MuiInputBase-root-MuiInput-root:before {
  border-bottom: 1px solid #949494 !important;
}

.commentInput__darkTF .css-1480iag-MuiInputBase-root-MuiInput-root:before {
  border-bottom: 1px solid white;
}
